.select2-selection__rendered {
    padding-left: 32px !important;
}

.select2 {
    margin-top: -3px;
}

.select2-selection--multiple {
    margin-top: 2px !important;
}

textarea {
    resize: none;
}

.select2-selection--single {
    margin-top: 5px !important;
}

.select2-selection--single:not([class*="bg-"]):not([class*="border-"]) {
    border-bottom-color: #fff;
}

.select2-selection__choice {
    font-size: 12px !important;
    padding: 3px 4px !important;
}

/*.select2-selection__rendered {*/
/*border-bottom: 1px solid #eee;*/
/*}*/

/*select[class*="select2-hidden-accessible"] + .select2 {*/
/*display: none;*/
/*}*/