<!-- Main sidebar -->
<div class="sidebar sidebar-main custom sidebar-<%= COLOR.sidebar %> sidebar-fixed">
    <div class="sidebar-content">
        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                    <li class="navigation-header">
                        <span>CRUD's</span>
                        <i class="icon-menu" title="" data-original-title="CRUD's">

                        </i>
                    </li>
                    <li>
                        <a data-function="menu" href="#ms_user"><i class="icon-eye"></i> <span>User MSSQL</span></a>
                    </li>
                    <% for(var i = 1;i <= 30;i++) { %>
                    <li>
                        <a data-function="menu" href="#ms_user"><i class="icon-eye"></i> <span>Menu <%= i %></span></a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <!-- /main navigation -->

    </div>
</div>
<!-- /main sidebar -->