<div id="ms_tipo" ng-controller="ms_tipo as ms_tipo">
    <div class="panel panel-flat">
        <%- include('../templates/table/header',{modelName:'ms_tipo'}); %>
        <div class="subcontent">
            <%- include('../templates/table/index',{modelName:'ms_tipo'}); %>
            <%- include('../templates/table/paginator',{modelName:'ms_tipo'}); %>
        </div>
    </div>
    <div id="ms_tipo_modalpool">
    </div>
</div><!--end-->