<div class="modal-dialog modal-full  ng-scope">
    <div class="modal-content">
        <div class="modal-header bg-orange">
            <button type="button" id="closeModal" class="close cancelmodal" ng-click="ms_all.modal.close()">×</button>
            <h6 class="modal-title"><i class="icon-law"></i>Test Modal</h6></div>
        <div class="modal-body" id="modalcontentms_all_angel"><!-- Error title -->
            <div class="text-center content-group">
                <h1 class="error-title">404</h1>
                <h5>Oops, an error has occurred. Page not found!</h5>
            </div>
            <!-- /error title -->


            <!-- Error content -->
            <div class="row">
                <div class="col-lg-4  col-lg-offset-4 col-sm-12 col-mg-12">
                    <div class="text-center">
                        <a href="/" class="btn bg-pink-400"><i class="icon-circle-left2 position-left"></i> Back to
                            dashboard</a>
                    </div>
                </div>
            </div>
            <!-- /error wrapper -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link" ng-click="ms_all.modal.close()">Close</button>
            <button type="button" class="btn bg-success" ng-click="ms_all.openFilters2();">Save</button>
        </div>
    </div>
</div>