<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><i class="icon-menu7"></i> &nbsp;Modal with icons</h5>
        </div>

        <div class="modal-body">
            contenido
        </div>
    </div>
</div>