<style>
    .image-cropper-container {
        height: auto;
        width: 100%;
        overflow: hidden;
    }
</style>

<div class="image-cropper-container content-group">
    <img style="width: 100%" src="<%= DATA.src %>" alt="" class="cropper" id="cropper-image">
</div>