<button onclick="DSON.jsonToCSV(WARNINGREQUESTS, true, `${CONFIG.appName} Requests`);" type="button" class="btn bg-<%= COLOR.secundary %>-600 btn-icon"
        style="margin-bottom: 15px">
    <span class="icon-reset"></span> Download Requests
</button>

<button onclick="new HTTP().resetManager();" type="button" class="btn bg-<%= COLOR.secundary %>-600 btn-icon"
        style="margin-bottom: 15px">
    <span class="icon-reset"></span> Reset
</button>
<%- include('statictable',{scope:scope}); %>