<button onclick="STEP.send();" type="button" class="btn bg-<%= TAG.table %>-600 btn-icon"
        style="margin-bottom: 15px">
    <span class="icon-reset"></span> Download Steps
</button>
<%- include('statictable',{scope:scope}); %>