<button onclick="STEP.send();" type="button" class="btn bg-<%= COLOR.secundary %>-600 btn-icon"
        style="margin-bottom: 15px" dragonlanguage="">
    <span class="icon-reset"></span>
    <language>MESSAGE.ic("mono.DownloadSteps")</language>
</button>
<%- include('statictable',{scope:scope}); %>