<div id="@model@Controller" ng-controller="@model@Controller as @model@Controller">
    @model@
    <table class="table">
        <thead>
        <th ng-repeat="(key, value) in @model@Controller.list.data[0]">{{key}}</th>
        </thead>
        <tbody>
        <tr ng-repeat="(key, value) in @model@Controller.list.data">
            <td ng-repeat="item in value">
                {{item}}
            </td>
        </tr>
        </tbody>
    </table>
</div>