<div class="row">
    <div class="col-sm-12 col-md-2 ">
        <label class="control-label  is-visible" dragonlanguage><language>MESSAGE.i('mono.mode')</language></label><!-- Mode -->
        <select class="js-example-basic-single" name="state">
            <option value="pro"><language>Production</language></option> <!-- Production -->
            <option value="developer" ><language>Developer</language></option> <!-- Developer -->
        </select>
    </div>
    <div class="col-sm-12 col-md-7  ">
        <%- FORM.input("google_apikey", scope, {maxlength: 50, icon: 'none'}) %>
    </div>
</div>

<div class="row">
    <fieldset class="content-group fieldset-t">
        <legend class="text-bold" style="margin-bottom: 15px;" dragonlanguage><language>MESSAGE.i('mono.performance')</language></legend><!-- Performance -->
        <div class="col-md-3 col-sm-12 pl-0">
            <label class="w-100 fl">AngularJS</label>
            <div class="col-sm-12 col-md-6  pl-0">
                <label class="control-label  is-visible" style="margin-bottom: 0;" dragonlanguage><language>MESSAGE.i('mono.modal')</language></label>
                <input class="form-control" type="number" name="number" value="0">
            </div>
            <div class="col-sm-12 col-md-6 ">
                <label class="control-label  is-visible" style="margin-bottom: 0;" dragonlanguage><language>MESSAGE.i('mono.table')</language></label>
                <input class="form-control" type="number" name="number" value="0">
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <label class="w-100 fl">jQuery</label>
            <div class="col-sm-12 col-md-6  pl-0">
                <label class="control-label  is-visible" style="margin-bottom: 0;" dragonlanguage><language>MESSAGE.i('mono.modal')</language></label>
                <input class="form-control" type="number" name="number" value="0">
            </div>
            <div class="col-sm-12 col-md-6 ">
                <label class="control-label  is-visible" style="margin-bottom: 0;" dragonlanguage><language>MESSAGE.i('mono.table')</language></label>
                <input class="form-control" type="number" name="number" value="0">
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <label class="w-100 fl">HTTP</label>
            <div class="col-sm-12 col-md-4  pl-0">
                <label class="control-label  is-visible" style="margin-bottom: 0;" dragonlanguage><language>Get</language></label>
                <input class="form-control" type="number" name="number" value="0">
            </div>
            <div class="col-sm-12 col-md-4 ">
                <label class="control-label  is-visible" style="margin-bottom: 0;" dragonlanguage><language>Post</language></label>
                <input class="form-control" type="number" name="number" value="0">
            </div>
            <div class="col-sm-12 col-md-4 ">
                <label class="control-label  is-visible" style="margin-bottom: 0;" dragonlanguage><language>Avg</language></label>
                <input class="form-control" type="number" name="number" value="0">
            </div>
        </div>
    </fieldset>

</div>

<div class="row">
    <fieldset class="content-group fieldset-t">
        <legend class="text-bold" style="margin-bottom: 15px;" dragonlanguage>
            <language>MESSAGE.i('mono.route')</language>
            <a style="color: #333333;" ng-click="addRoute()">
                <i title="A単adir" class="icon-plus-circle2 "></i>
            </a>
        </legend><!-- Performance -->

        <div class="col-md-4 col-sm-12 pl-0" ng-repeat="item in inputs">
            <input class="form-control" ng-model="item.value"\>
        </div>


    </fieldset>
</div>

<div class="row">
    <fieldset class="content-group fieldset-t">
        <legend class="text-bold" style="margin-bottom: 15px;" dragonlanguage>
            <language>MESSAGE.i('mono.fields')</language>
            <a style="color: #333333;" ng-click="addfield()">
                <i title="A単adir" class="icon-plus-circle2 "></i>
            </a>
        </legend><!-- Performance -->

        <div class="col-md-4 col-sm-12 pl-0" ng-repeat="item in customfileds">
            <input class="form-control" ng-model="item.value"\>
        </div>

    </fieldset>
</div>

<div class="row">
    <fieldset class="content-group fieldset-t">
        <legend class="text-bold" style="margin-bottom: 15px;" dragonlanguage>
            <language>MESSAGE.i('mono.audit')</language>

        </legend><!-- Performance -->

        <div class="col-md-4 col-sm-12 pl-0" >
            <label dragonlanguage>
                <language>MESSAGE.i('mono.insert')</language>
                <a style="color: #333333;" ng-click="addfieldUnsert()">
                    <i title="A単adir" class="icon-plus-circle2 "></i>
                </a>
            </label>
            <div ng-repeat="item in insertField">
                <input class="form-control" ng-model="item.value"\>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 pl-0" >
            <label dragonlanguage>
                <language>MESSAGE.i('mono.update')</language>
                <a style="color: #333333;" ng-click="addfieldUpdate()">
                    <i title="A単adir" class="icon-plus-circle2 "></i>
                </a>
            </label>
            <div ng-repeat="item in updateField">
                <input class="form-control" ng-model="item.value"\>
            </div>
        </div>

    </fieldset>
</div>