.bg-blue {
    background-color: #03A9F4;
    border-color: #03A9F4;
    color: #fff;
}
.bg-blue-300 {
    background-color: #4FC3F7;
    border-color: #4FC3F7;
    color: #fff;
}
.bg-blue-400 {
    background-color: #29B6F6;
    border-color: #29B6F6;
    color: #fff;
}
.bg-blue-600 {
    background-color: #039BE5;
    border-color: #039BE5;
    color: #fff;
}
.bg-blue-700 {
    background-color: #0288D1;
    border-color: #0288D1;
    color: #fff;
}
.bg-blue-800 {
    background-color: #0277BD;
    border-color: #0277BD;
    color: #fff;
}
.alpha-blue {
    background-color: #E1F5FE;
    border-color: #039BE5;
}
.border-blue {
    border-color: #03A9F4;
}
.border-blue-300 {
    border-color: #4FC3F7;
}
.border-blue-400 {
    border-color: #29B6F6;
}
.border-blue-600 {
    border-color: #039BE5;
}
.border-blue-700 {
    border-color: #0288D1;
}
.border-blue-800 {
    border-color: #0277BD;
}
.border-top-blue {
    border-top-color: #03A9F4;
}
.border-top-blue-300 {
    border-top-color: #4FC3F7;
}
.border-top-blue-400 {
    border-top-color: #29B6F6;
}
.border-top-blue-600 {
    border-top-color: #039BE5;
}
.border-top-blue-700 {
    border-top-color: #0288D1;
}
.border-top-blue-800 {
    border-top-color: #0277BD;
}
.border-bottom-blue {
    border-bottom-color: #03A9F4;
}
.border-bottom-blue-300 {
    border-bottom-color: #4FC3F7;
}
.border-bottom-blue-400 {
    border-bottom-color: #29B6F6;
}
.border-bottom-blue-600 {
    border-bottom-color: #039BE5;
}
.border-bottom-blue-700 {
    border-bottom-color: #0288D1;
}
.border-bottom-blue-800 {
    border-bottom-color: #0277BD;
}
.border-left-blue {
    border-left-color: #03A9F4;
}
.border-left-blue-300 {
    border-left-color: #4FC3F7;
}
.border-left-blue-400 {
    border-left-color: #29B6F6;
}
.border-left-blue-600 {
    border-left-color: #039BE5;
}
.border-left-blue-700 {
    border-left-color: #0288D1;
}
.border-left-blue-800 {
    border-left-color: #0277BD;
}
.border-right-blue {
    border-right-color: #03A9F4;
}
.border-right-blue-300 {
    border-right-color: #4FC3F7;
}
.border-right-blue-400 {
    border-right-color: #29B6F6;
}
.border-right-blue-600 {
    border-right-color: #039BE5;
}
.border-right-blue-700 {
    border-right-color: #0288D1;
}
.border-right-blue-800 {
    border-right-color: #0277BD;
}
.text-blue,
.text-blue:hover,
.text-blue:focus {
    color: #03A9F4 !important;
}
.text-blue-300,
.text-blue-300:hover,
.text-blue-300:focus {
    color: #4FC3F7 !important;
}
.text-blue-400,
.text-blue-400:hover,
.text-blue-400:focus {
    color: #29B6F6 !important;
}
.text-blue-600,
.text-blue-600:hover,
.text-blue-600:focus {
    color: #039BE5 !important;
}
.text-blue-700,
.text-blue-700:hover,
.text-blue-700:focus {
    color: #0288D1 !important;
}
.text-blue-800,
.text-blue-800:hover,
.text-blue-800:focus {
    color: #0277BD !important;
}
