.bg-creme {
    background-color: #b98673;
    border-color: #b98673;
    color: #fff;
}
.bg-creme-300 {
    background-color: #ffbdaa;
    border-color: #ffbdaa;
    color: #fff;
}
.bg-creme-400 {
    background-color: #ebaa97;
    border-color: #ebaa97;
    color: #fff;
}
.bg-creme-600 {
    background-color: #b17a65;
    border-color: #b17a65;
    color: #fff;
}
.bg-creme-700 {
    background-color: #9b6550;
    border-color: #9b6550;
    color: #fff;
}
.bg-creme-800 {
    background-color: #7d4c3a;
    border-color: #7d4c3a;
    color: #fff;
}
.alpha-creme {
    background-color: #EFEBE9;
    border-color: #b17a65;
}
.border-creme {
    border-color: #b98673;
}
.border-creme-300 {
    border-color: #ffbdaa;
}
.border-creme-400 {
    border-color: #ebaa97;
}
.border-creme-600 {
    border-color: #b17a65;
}
.border-creme-700 {
    border-color: #9b6550;
}
.border-creme-800 {
    border-color: #7d4c3a;
}
.border-top-creme {
    border-top-color: #b98673;
}
.border-top-creme-300 {
    border-top-color: #ffbdaa;
}
.border-top-creme-400 {
    border-top-color: #ebaa97;
}
.border-top-creme-600 {
    border-top-color: #b17a65;
}
.border-top-creme-700 {
    border-top-color: #9b6550;
}
.border-top-creme-800 {
    border-top-color: #7d4c3a;
}
.border-bottom-creme {
    border-bottom-color: #b98673;
}
.border-bottom-creme-300 {
    border-bottom-color: #ffbdaa;
}
.border-bottom-creme-400 {
    border-bottom-color: #ebaa97;
}
.border-bottom-creme-600 {
    border-bottom-color: #b17a65;
}
.border-bottom-creme-700 {
    border-bottom-color: #9b6550;
}
.border-bottom-creme-800 {
    border-bottom-color: #7d4c3a;
}
.border-left-creme {
    border-left-color: #b98673;
}
.border-left-creme-300 {
    border-left-color: #ffbdaa;
}
.border-left-creme-400 {
    border-left-color: #ebaa97;
}
.border-left-creme-600 {
    border-left-color: #b17a65;
}
.border-left-creme-700 {
    border-left-color: #9b6550;
}
.border-left-creme-800 {
    border-left-color: #7d4c3a;
}
.border-right-creme {
    border-right-color: #b98673;
}
.border-right-creme-300 {
    border-right-color: #ffbdaa;
}
.border-right-creme-400 {
    border-right-color: #ebaa97;
}
.border-right-creme-600 {
    border-right-color: #b17a65;
}
.border-right-creme-700 {
    border-right-color: #9b6550;
}
.border-right-creme-800 {
    border-right-color: #7d4c3a;
}
.text-creme,
.text-creme:hover,
.text-creme:focus {
    color: #b98673 !important;
}
.text-creme-300,
.text-creme-300:hover,
.text-creme-300:focus {
    color: #ffbdaa !important;
}
.text-creme-400,
.text-creme-400:hover,
.text-creme-400:focus {
    color: #ebaa97 !important;
}
.text-creme-600,
.text-creme-600:hover,
.text-creme-600:focus {
    color: #b17a65 !important;
}
.text-creme-700,
.text-creme-700:hover,
.text-creme-700:focus {
    color: #9b6550 !important;
}
.text-creme-800,
.text-creme-800:hover,
.text-creme-800:focus {
    color: #7d4c3a !important;
}
.nav-creme li.active {
    border-bottom: #7d4c3a 1px solid;
    border-block-width: 2px;
}