.bg-darkorange {
    background-color: #FF5722;
    border-color: #FF5722;
    color: #fff;
}
.bg-darkorange-300 {
    background-color: #FF8A65;
    border-color: #FF8A65;
    color: #fff;
}
.bg-darkorange-400 {
    background-color: #FF7043;
    border-color: #FF7043;
    color: #fff;
}
.bg-darkorange-600 {
    background-color: #F4511E;
    border-color: #F4511E;
    color: #fff;
}
.bg-darkorange-700 {
    background-color: #E64A19;
    border-color: #E64A19;
    color: #fff;
}
.bg-darkorange-800 {
    background-color: #D84315;
    border-color: #D84315;
    color: #fff;
}
.alpha-darkorange {
    background-color: #FBE9E7;
    border-color: #F4511E;
}
.border-darkorange {
    border-color: #FF5722;
}
.border-darkorange-300 {
    border-color: #FF8A65;
}
.border-darkorange-400 {
    border-color: #FF7043;
}
.border-darkorange-600 {
    border-color: #F4511E;
}
.border-darkorange-700 {
    border-color: #E64A19;
}
.border-darkorange-800 {
    border-color: #D84315;
}
.border-top-darkorange {
    border-top-color: #FF5722;
}
.border-top-darkorange-300 {
    border-top-color: #FF8A65;
}
.border-top-darkorange-400 {
    border-top-color: #FF7043;
}
.border-top-darkorange-600 {
    border-top-color: #F4511E;
}
.border-top-darkorange-700 {
    border-top-color: #E64A19;
}
.border-top-darkorange-800 {
    border-top-color: #D84315;
}
.border-bottom-darkorange {
    border-bottom-color: #FF5722;
}
.border-bottom-darkorange-300 {
    border-bottom-color: #FF8A65;
}
.border-bottom-darkorange-400 {
    border-bottom-color: #FF7043;
}
.border-bottom-darkorange-600 {
    border-bottom-color: #F4511E;
}
.border-bottom-darkorange-700 {
    border-bottom-color: #E64A19;
}
.border-bottom-darkorange-800 {
    border-bottom-color: #D84315;
}
.border-left-darkorange {
    border-left-color: #FF5722;
}
.border-left-darkorange-300 {
    border-left-color: #FF8A65;
}
.border-left-darkorange-400 {
    border-left-color: #FF7043;
}
.border-left-darkorange-600 {
    border-left-color: #F4511E;
}
.border-left-darkorange-700 {
    border-left-color: #E64A19;
}
.border-left-darkorange-800 {
    border-left-color: #D84315;
}
.border-right-darkorange {
    border-right-color: #FF5722;
}
.border-right-darkorange-300 {
    border-right-color: #FF8A65;
}
.border-right-darkorange-400 {
    border-right-color: #FF7043;
}
.border-right-darkorange-600 {
    border-right-color: #F4511E;
}
.border-right-darkorange-700 {
    border-right-color: #E64A19;
}
.border-right-darkorange-800 {
    border-right-color: #D84315;
}
.text-darkorange,
.text-darkorange:hover,
.text-darkorange:focus {
    color: #FF5722 !important;
}
.text-darkorange-300,
.text-darkorange-300:hover,
.text-darkorange-300:focus {
    color: #FF8A65 !important;
}
.text-darkorange-400,
.text-darkorange-400:hover,
.text-darkorange-400:focus {
    color: #FF7043 !important;
}
.text-darkorange-600,
.text-darkorange-600:hover,
.text-darkorange-600:focus {
    color: #F4511E !important;
}
.text-darkorange-700,
.text-darkorange-700:hover,
.text-darkorange-700:focus {
    color: #E64A19 !important;
}
.text-darkorange-800,
.text-darkorange-800:hover,
.text-darkorange-800:focus {
    color: #D84315 !important;
}
.nav-darkorange li.active {
    border-bottom: #D84315 1px solid;
    border-block-width: 2px;
}