.bg-grey {
    background-color: #777;
    border-color: #777;
    color: #fff;
}
.bg-grey-300 {
    background-color: #999;
    border-color: #999;
    color: #fff;
}
.bg-grey-400 {
    background-color: #888;
    border-color: #888;
    color: #fff;
}
.bg-grey-600 {
    background-color: #666;
    border-color: #666;
    color: #fff;
}
.bg-grey-700 {
    background-color: #555;
    border-color: #555;
    color: #fff;
}
.bg-grey-800 {
    background-color: #444;
    border-color: #444;
    color: #fff;
}
.alpha-grey {
    background-color: #FAFAFA;
    border-color: #666;
}
.border-grey {
    border-color: #777;
}
.border-grey-300 {
    border-color: #999;
}
.border-grey-400 {
    border-color: #888;
}
.border-grey-600 {
    border-color: #666;
}
.border-grey-700 {
    border-color: #555;
}
.border-grey-800 {
    border-color: #444;
}
.border-top-grey {
    border-top-color: #777;
}
.border-top-grey-300 {
    border-top-color: #999;
}
.border-top-grey-400 {
    border-top-color: #888;
}
.border-top-grey-600 {
    border-top-color: #666;
}
.border-top-grey-700 {
    border-top-color: #555;
}
.border-top-grey-800 {
    border-top-color: #444;
}
.border-bottom-grey {
    border-bottom-color: #777;
}
.border-bottom-grey-300 {
    border-bottom-color: #999;
}
.border-bottom-grey-400 {
    border-bottom-color: #888;
}
.border-bottom-grey-600 {
    border-bottom-color: #666;
}
.border-bottom-grey-700 {
    border-bottom-color: #555;
}
.border-bottom-grey-800 {
    border-bottom-color: #444;
}
.border-left-grey {
    border-left-color: #777;
}
.border-left-grey-300 {
    border-left-color: #999;
}
.border-left-grey-400 {
    border-left-color: #888;
}
.border-left-grey-600 {
    border-left-color: #666;
}
.border-left-grey-700 {
    border-left-color: #555;
}
.border-left-grey-800 {
    border-left-color: #444;
}
.border-right-grey {
    border-right-color: #777;
}
.border-right-grey-300 {
    border-right-color: #999;
}
.border-right-grey-400 {
    border-right-color: #888;
}
.border-right-grey-600 {
    border-right-color: #666;
}
.border-right-grey-700 {
    border-right-color: #555;
}
.border-right-grey-800 {
    border-right-color: #444;
}
.text-grey,
.text-grey:hover,
.text-grey:focus {
    color: #777 !important;
}
.text-grey-300,
.text-grey-300:hover,
.text-grey-300:focus {
    color: #999 !important;
}
.text-grey-400,
.text-grey-400:hover,
.text-grey-400:focus {
    color: #888 !important;
}
.text-grey-600,
.text-grey-600:hover,
.text-grey-600:focus {
    color: #666 !important;
}
.text-grey-700,
.text-grey-700:hover,
.text-grey-700:focus {
    color: #555 !important;
}
.text-grey-800,
.text-grey-800:hover,
.text-grey-800:focus {
    color: #444 !important;
}
.nav-grey li.active {
    border-bottom: #444 1px solid;
    border-block-width: 2px;
}