.bg-lightblue {
    background-color: #00BCD4;
    border-color: #00BCD4;
    color: #fff;
}
.bg-lightblue-300 {
    background-color: #4DD0E1;
    border-color: #4DD0E1;
    color: #fff;
}
.bg-lightblue-400 {
    background-color: #26C6DA;
    border-color: #26C6DA;
    color: #fff;
}
.bg-lightblue-600 {
    background-color: #00ACC1;
    border-color: #00ACC1;
    color: #fff;
}
.bg-lightblue-700 {
    background-color: #0097A7;
    border-color: #0097A7;
    color: #fff;
}
.bg-lightblue-800 {
    background-color: #00838F;
    border-color: #00838F;
    color: #fff;
}
.alpha-lightblue {
    background-color: #E0F7FA;
    border-color: #00ACC1;
}
.border-lightblue {
    border-color: #00BCD4;
}
.border-lightblue-300 {
    border-color: #4DD0E1;
}
.border-lightblue-400 {
    border-color: #26C6DA;
}
.border-lightblue-600 {
    border-color: #00ACC1;
}
.border-lightblue-700 {
    border-color: #0097A7;
}
.border-lightblue-800 {
    border-color: #00838F;
}
.border-top-lightblue {
    border-top-color: #00BCD4;
}
.border-top-lightblue-300 {
    border-top-color: #4DD0E1;
}
.border-top-lightblue-400 {
    border-top-color: #26C6DA;
}
.border-top-lightblue-600 {
    border-top-color: #00ACC1;
}
.border-top-lightblue-700 {
    border-top-color: #0097A7;
}
.border-top-lightblue-800 {
    border-top-color: #00838F;
}
.border-bottom-lightblue {
    border-bottom-color: #00BCD4;
}
.border-bottom-lightblue-300 {
    border-bottom-color: #4DD0E1;
}
.border-bottom-lightblue-400 {
    border-bottom-color: #26C6DA;
}
.border-bottom-lightblue-600 {
    border-bottom-color: #00ACC1;
}
.border-bottom-lightblue-700 {
    border-bottom-color: #0097A7;
}
.border-bottom-lightblue-800 {
    border-bottom-color: #00838F;
}
.border-left-lightblue {
    border-left-color: #00BCD4;
}
.border-left-lightblue-300 {
    border-left-color: #4DD0E1;
}
.border-left-lightblue-400 {
    border-left-color: #26C6DA;
}
.border-left-lightblue-600 {
    border-left-color: #00ACC1;
}
.border-left-lightblue-700 {
    border-left-color: #0097A7;
}
.border-left-lightblue-800 {
    border-left-color: #00838F;
}
.border-right-lightblue {
    border-right-color: #00BCD4;
}
.border-right-lightblue-300 {
    border-right-color: #4DD0E1;
}
.border-right-lightblue-400 {
    border-right-color: #26C6DA;
}
.border-right-lightblue-600 {
    border-right-color: #00ACC1;
}
.border-right-lightblue-700 {
    border-right-color: #0097A7;
}
.border-right-lightblue-800 {
    border-right-color: #00838F;
}
.text-lightblue,
.text-lightblue:hover,
.text-lightblue:focus {
    color: #00BCD4 !important;
}
.text-lightblue-300,
.text-lightblue-300:hover,
.text-lightblue-300:focus {
    color: #4DD0E1 !important;
}
.text-lightblue-400,
.text-lightblue-400:hover,
.text-lightblue-400:focus {
    color: #26C6DA !important;
}
.text-lightblue-600,
.text-lightblue-600:hover,
.text-lightblue-600:focus {
    color: #00ACC1 !important;
}
.text-lightblue-700,
.text-lightblue-700:hover,
.text-lightblue-700:focus {
    color: #0097A7 !important;
}
.text-lightblue-800,
.text-lightblue-800:hover,
.text-lightblue-800:focus {
    color: #00838F !important;
}
