.bg-purple {
    background-color: #673AB7;
    border-color: #673AB7;
    color: #fff;
}
.bg-purple-300 {
    background-color: #9575CD;
    border-color: #9575CD;
    color: #fff;
}
.bg-purple-400 {
    background-color: #7E57C2;
    border-color: #7E57C2;
    color: #fff;
}
.bg-purple-600 {
    background-color: #5E35B1;
    border-color: #5E35B1;
    color: #fff;
}
.bg-purple-700 {
    background-color: #512DA8;
    border-color: #512DA8;
    color: #fff;
}
.bg-purple-800 {
    background-color: #4527A0;
    border-color: #4527A0;
    color: #fff;
}
.alpha-purple {
    background-color: #EDE7F6;
    border-color: #5E35B1;
}
.border-purple {
    border-color: #673AB7;
}
.border-purple-300 {
    border-color: #9575CD;
}
.border-purple-400 {
    border-color: #7E57C2;
}
.border-purple-600 {
    border-color: #5E35B1;
}
.border-purple-700 {
    border-color: #512DA8;
}
.border-purple-800 {
    border-color: #4527A0;
}
.border-top-purple {
    border-top-color: #673AB7;
}
.border-top-purple-300 {
    border-top-color: #9575CD;
}
.border-top-purple-400 {
    border-top-color: #7E57C2;
}
.border-top-purple-600 {
    border-top-color: #5E35B1;
}
.border-top-purple-700 {
    border-top-color: #512DA8;
}
.border-top-purple-800 {
    border-top-color: #4527A0;
}
.border-bottom-purple {
    border-bottom-color: #673AB7;
}
.border-bottom-purple-300 {
    border-bottom-color: #9575CD;
}
.border-bottom-purple-400 {
    border-bottom-color: #7E57C2;
}
.border-bottom-purple-600 {
    border-bottom-color: #5E35B1;
}
.border-bottom-purple-700 {
    border-bottom-color: #512DA8;
}
.border-bottom-purple-800 {
    border-bottom-color: #4527A0;
}
.border-left-purple {
    border-left-color: #673AB7;
}
.border-left-purple-300 {
    border-left-color: #9575CD;
}
.border-left-purple-400 {
    border-left-color: #7E57C2;
}
.border-left-purple-600 {
    border-left-color: #5E35B1;
}
.border-left-purple-700 {
    border-left-color: #512DA8;
}
.border-left-purple-800 {
    border-left-color: #4527A0;
}
.border-right-purple {
    border-right-color: #673AB7;
}
.border-right-purple-300 {
    border-right-color: #9575CD;
}
.border-right-purple-400 {
    border-right-color: #7E57C2;
}
.border-right-purple-600 {
    border-right-color: #5E35B1;
}
.border-right-purple-700 {
    border-right-color: #512DA8;
}
.border-right-purple-800 {
    border-right-color: #4527A0;
}
.text-purple,
.text-purple:hover,
.text-purple:focus {
    color: #673AB7 !important;
}
.text-purple-300,
.text-purple-300:hover,
.text-purple-300:focus {
    color: #9575CD !important;
}
.text-purple-400,
.text-purple-400:hover,
.text-purple-400:focus {
    color: #7E57C2 !important;
}
.text-purple-600,
.text-purple-600:hover,
.text-purple-600:focus {
    color: #5E35B1 !important;
}
.text-purple-700,
.text-purple-700:hover,
.text-purple-700:focus {
    color: #512DA8 !important;
}
.text-purple-800,
.text-purple-800:hover,
.text-purple-800:focus {
    color: #4527A0 !important;
}
