.bg-red {
    background-color: #F44336;
    border-color: #F44336;
    color: #fff;
}
.bg-red-300 {
    background-color: #E57373;
    border-color: #E57373;
    color: #fff;
}
.bg-red-400 {
    background-color: #EF5350;
    border-color: #EF5350;
    color: #fff;
}
.bg-red-600 {
    background-color: #E53935;
    border-color: #E53935;
    color: #fff;
}
.bg-red-700 {
    background-color: #D32F2F;
    border-color: #D32F2F;
    color: #fff;
}
.bg-red-800 {
    background-color: #C62828;
    border-color: #C62828;
    color: #fff;
}
.alpha-red {
    background-color: #FFEBEE;
    border-color: #E53935;
}
.border-red {
    border-color: #F44336;
}
.border-red-300 {
    border-color: #E57373;
}
.border-red-400 {
    border-color: #EF5350;
}
.border-red-600 {
    border-color: #E53935;
}
.border-red-700 {
    border-color: #D32F2F;
}
.border-red-800 {
    border-color: #C62828;
}
.border-top-red {
    border-top-color: #F44336;
}
.border-top-red-300 {
    border-top-color: #E57373;
}
.border-top-red-400 {
    border-top-color: #EF5350;
}
.border-top-red-600 {
    border-top-color: #E53935;
}
.border-top-red-700 {
    border-top-color: #D32F2F;
}
.border-top-red-800 {
    border-top-color: #C62828;
}
.border-bottom-red {
    border-bottom-color: #F44336;
}
.border-bottom-red-300 {
    border-bottom-color: #E57373;
}
.border-bottom-red-400 {
    border-bottom-color: #EF5350;
}
.border-bottom-red-600 {
    border-bottom-color: #E53935;
}
.border-bottom-red-700 {
    border-bottom-color: #D32F2F;
}
.border-bottom-red-800 {
    border-bottom-color: #C62828;
}
.border-left-red {
    border-left-color: #F44336;
}
.border-left-red-300 {
    border-left-color: #E57373;
}
.border-left-red-400 {
    border-left-color: #EF5350;
}
.border-left-red-600 {
    border-left-color: #E53935;
}
.border-left-red-700 {
    border-left-color: #D32F2F;
}
.border-left-red-800 {
    border-left-color: #C62828;
}
.border-right-red {
    border-right-color: #F44336;
}
.border-right-red-300 {
    border-right-color: #E57373;
}
.border-right-red-400 {
    border-right-color: #EF5350;
}
.border-right-red-600 {
    border-right-color: #E53935;
}
.border-right-red-700 {
    border-right-color: #D32F2F;
}
.border-right-red-800 {
    border-right-color: #C62828;
}
.text-red,
.text-red:hover,
.text-red:focus {
    color: #F44336 !important;
}
.text-red-300,
.text-red-300:hover,
.text-red-300:focus {
    color: #E57373 !important;
}
.text-red-400,
.text-red-400:hover,
.text-red-400:focus {
    color: #EF5350 !important;
}
.text-red-600,
.text-red-600:hover,
.text-red-600:focus {
    color: #E53935 !important;
}
.text-red-700,
.text-red-700:hover,
.text-red-700:focus {
    color: #D32F2F !important;
}
.text-red-800,
.text-red-800:hover,
.text-red-800:focus {
    color: #C62828 !important;
}

.nav-red li.active {
    border-bottom: #C62828 1px solid;
    border-block-width: 2px;
}