.bg-teal {
    background-color: #009688;
    border-color: #009688;
    color: #fff;
}
.bg-teal-300 {
    background-color: #4DB6AC;
    border-color: #4DB6AC;
    color: #fff;
}
.bg-teal-400 {
    background-color: #26A69A;
    border-color: #26A69A;
    color: #fff;
}
.bg-teal-600 {
    background-color: #00897B;
    border-color: #00897B;
    color: #fff;
}
.bg-teal-700 {
    background-color: #00796B;
    border-color: #00796B;
    color: #fff;
}
.bg-teal-800 {
    background-color: #00695C;
    border-color: #00695C;
    color: #fff;
}
.alpha-teal {
    background-color: #E0F2F1;
    border-color: #00897B;
}
.border-teal {
    border-color: #009688;
}
.border-teal-300 {
    border-color: #4DB6AC;
}
.border-teal-400 {
    border-color: #26A69A;
}
.border-teal-600 {
    border-color: #00897B;
}
.border-teal-700 {
    border-color: #00796B;
}
.border-teal-800 {
    border-color: #00695C;
}
.border-top-teal {
    border-top-color: #009688;
}
.border-top-teal-300 {
    border-top-color: #4DB6AC;
}
.border-top-teal-400 {
    border-top-color: #26A69A;
}
.border-top-teal-600 {
    border-top-color: #00897B;
}
.border-top-teal-700 {
    border-top-color: #00796B;
}
.border-top-teal-800 {
    border-top-color: #00695C;
}
.border-bottom-teal {
    border-bottom-color: #009688;
}
.border-bottom-teal-300 {
    border-bottom-color: #4DB6AC;
}
.border-bottom-teal-400 {
    border-bottom-color: #26A69A;
}
.border-bottom-teal-600 {
    border-bottom-color: #00897B;
}
.border-bottom-teal-700 {
    border-bottom-color: #00796B;
}
.border-bottom-teal-800 {
    border-bottom-color: #00695C;
}
.border-left-teal {
    border-left-color: #009688;
}
.border-left-teal-300 {
    border-left-color: #4DB6AC;
}
.border-left-teal-400 {
    border-left-color: #26A69A;
}
.border-left-teal-600 {
    border-left-color: #00897B;
}
.border-left-teal-700 {
    border-left-color: #00796B;
}
.border-left-teal-800 {
    border-left-color: #00695C;
}
.border-right-teal {
    border-right-color: #009688;
}
.border-right-teal-300 {
    border-right-color: #4DB6AC;
}
.border-right-teal-400 {
    border-right-color: #26A69A;
}
.border-right-teal-600 {
    border-right-color: #00897B;
}
.border-right-teal-700 {
    border-right-color: #00796B;
}
.border-right-teal-800 {
    border-right-color: #00695C;
}
.text-teal,
.text-teal:hover,
.text-teal:focus {
    color: #009688 !important;
}
.text-teal-300,
.text-teal-300:hover,
.text-teal-300:focus {
    color: #4DB6AC !important;
}
.text-teal-400,
.text-teal-400:hover,
.text-teal-400:focus {
    color: #26A69A !important;
}
.text-teal-600,
.text-teal-600:hover,
.text-teal-600:focus {
    color: #00897B !important;
}
.text-teal-700,
.text-teal-700:hover,
.text-teal-700:focus {
    color: #00796B !important;
}
.text-teal-800,
.text-teal-800:hover,
.text-teal-800:focus {
    color: #00695C !important;
}

