.bg-white {
    background-color: #fff8f5;
    border-color: #fff8f5;
    color: #000 !important;
}
.bg-white-300 {
    background-color: #fff8f5;
    border-color: #fff8f5;
    color: #000 !important;
}
.bg-white-400 {
    background-color: #fff8f5;
    border-color: #fff8f5;
    color: #000 !important;
}
.bg-white-600 {
    background-color: #fff8f5;
    border-color: #fff8f5;
    color: #000 !important;
}
.bg-white-700 {
    background-color: #fff8f5;
    border-color: #fff8f5;
    color: #000 !important;
}
.bg-white-800 {
    background-color: #fff8f5;
    border-color: #fff8f5;
    color: #000 !important;
}
.alpha-white {
    background-color: #fdf9f5;
    border-color: #fff8f5;
}
.border-white {
    border-color: #fff8f5;
}
.border-white-300 {
    border-color: #fff8f5;
}
.border-white-400 {
    border-color: #fff8f5;
}
.border-white-600 {
    border-color: #fff8f5;
}
.border-white-700 {
    border-color: #fff8f5;
}
.border-white-800 {
    border-color: #fff8f5;
}
.border-top-white {
    border-top-color: #fff8f5;
}
.border-top-white-300 {
    border-top-color: #fff8f5;
}
.border-top-white-400 {
    border-top-color: #fff8f5;
}
.border-top-white-600 {
    border-top-color: #fff8f5;
}
.border-top-white-700 {
    border-top-color: #fff8f5;
}
.border-top-white-800 {
    border-top-color: #fff8f5;
}
.border-bottom-white {
    border-bottom-color: #fff8f5;
}
.border-bottom-white-300 {
    border-bottom-color: #fff8f5;
}
.border-bottom-white-400 {
    border-bottom-color: #fff8f5;
}
.border-bottom-white-600 {
    border-bottom-color: #fff8f5;
}
.border-bottom-white-700 {
    border-bottom-color: #fff8f5;
}
.border-bottom-white-800 {
    border-bottom-color: #fff8f5;
}
.border-left-white {
    border-left-color: #fff8f5;
}
.border-left-white-300 {
    border-left-color: #fff8f5;
}
.border-left-white-400 {
    border-left-color: #fff8f5;
}
.border-left-white-600 {
    border-left-color: #fff8f5;
}
.border-left-white-700 {
    border-left-color: #fff8f5;
}
.border-left-white-800 {
    border-left-color: #fff8f5;
}
.border-right-white {
    border-right-color: #fff8f5;
}
.border-right-white-300 {
    border-right-color: #fff8f5;
}
.border-right-white-400 {
    border-right-color: #fff8f5;
}
.border-right-white-600 {
    border-right-color: #fff8f5;
}
.border-right-white-700 {
    border-right-color: #fff8f5;
}
.border-right-white-800 {
    border-right-color: #fff8f5;
}
.text-white,
.text-white:hover,
.text-white:focus {
    color: #fff8f5 !important;
}
.text-white-300,
.text-white-300:hover,
.text-white-300:focus {
    color: #fff8f5 !important;
}
.text-white-400,
.text-white-400:hover,
.text-white-400:focus {
    color: #fff8f5 !important;
}
.text-white-600,
.text-white-600:hover,
.text-white-600:focus {
    color: #fff8f5 !important;
}
.text-white-700,
.text-white-700:hover,
.text-white-700:focus {
    color: #fff8f5 !important;
}
.text-white-800,
.text-white-800:hover,
.text-white-800:focus {
    color: #fff8f5 !important;
}

.bg-white-800.navbar-inverse a {
    color: #000 !important;
}

.bg-white-800.navbar-inverse a:hover {
    color: #000 !important;
}

.bg-white-800.navbar-inverse .navbar-text {
    color: #000 !important;
}

.nav-tabs.bg-white-800 > .active > a, .nav-tabs.bg-white-800 > .active > a:hover, .nav-tabs.bg-white-800 > .active > a:focus {
    color: #000 !important;;
}

.nav-tabs.bg-white-800 > li > a {
    color: #000 !important;
}
