.bg-yellow {
    background-color: #ffe13c;
    border-color: #ffe13c;
    color: #000 !important;
}
.bg-yellow-300 {
    background-color: #ffe1b4;
    border-color: #ffe1b4;
    color: #000 !important;
}
.bg-yellow-400 {
    background-color: #ffe182;
    border-color: #ffe182;
    color: #000 !important;
}
.bg-yellow-600 {
    background-color: #ffe15a;
    border-color: #ffe15a;
    color: #000 !important;
}
.bg-yellow-700 {
    background-color: #ffe13c;
    border-color: #ffe13c;
    color: #000 !important;
}
.bg-yellow-800 {
    background-color: #ffe100;
    border-color: #ffe100;
    color: #000 !important;
}
.alpha-yellow {
    background-color: #FCE4EC;
    border-color: #ffe15a;
}
.border-yellow {
    border-color: #ffe13c;
}
.border-yellow-300 {
    border-color: #ffe1b4;
}
.border-yellow-400 {
    border-color: #ffe182;
}
.border-yellow-600 {
    border-color: #ffe15a;
}
.border-yellow-700 {
    border-color: #ffe13c;
}
.border-yellow-800 {
    border-color: #ffe100;
}
.border-top-yellow {
    border-top-color: #ffe13c;
}
.border-top-yellow-300 {
    border-top-color: #ffe1b4;
}
.border-top-yellow-400 {
    border-top-color: #ffe182;
}
.border-top-yellow-600 {
    border-top-color: #ffe15a;
}
.border-top-yellow-700 {
    border-top-color: #ffe13c;
}
.border-top-yellow-800 {
    border-top-color: #ffe100;
}
.border-bottom-yellow {
    border-bottom-color: #ffe13c;
}
.border-bottom-yellow-300 {
    border-bottom-color: #ffe1b4;
}
.border-bottom-yellow-400 {
    border-bottom-color: #ffe182;
}
.border-bottom-yellow-600 {
    border-bottom-color: #ffe15a;
}
.border-bottom-yellow-700 {
    border-bottom-color: #ffe13c;
}
.border-bottom-yellow-800 {
    border-bottom-color: #ffe100;
}
.border-left-yellow {
    border-left-color: #ffe13c;
}
.border-left-yellow-300 {
    border-left-color: #ffe1b4;
}
.border-left-yellow-400 {
    border-left-color: #ffe182;
}
.border-left-yellow-600 {
    border-left-color: #ffe15a;
}
.border-left-yellow-700 {
    border-left-color: #ffe13c;
}
.border-left-yellow-800 {
    border-left-color: #ffe100;
}
.border-right-yellow {
    border-right-color: #ffe13c;
}
.border-right-yellow-300 {
    border-right-color: #ffe1b4;
}
.border-right-yellow-400 {
    border-right-color: #ffe182;
}
.border-right-yellow-600 {
    border-right-color: #ffe15a;
}
.border-right-yellow-700 {
    border-right-color: #ffe13c;
}
.border-right-yellow-800 {
    border-right-color: #ffe100;
}
.text-yellow,
.text-yellow:hover,
.text-yellow:focus {
    color: #ffe13c !important;
}
.text-yellow-300,
.text-yellow-300:hover,
.text-yellow-300:focus {
    color: #ffe1b4 !important;
}
.text-yellow-400,
.text-yellow-400:hover,
.text-yellow-400:focus {
    color: #ffe182 !important;
}
.text-yellow-600,
.text-yellow-600:hover,
.text-yellow-600:focus {
    color: #ffe15a !important;
}
.text-yellow-700,
.text-yellow-700:hover,
.text-yellow-700:focus {
    color: #ffe13c !important;
}
.text-yellow-800,
.text-yellow-800:hover,
.text-yellow-800:focus {
    color: #ffe100 !important;
}