<!-- Error title -->
<div class="text-center content-group">
    <h1 class="error-title">404</h1>
    <h5>Oops, an error has occurred. Page not found!</h5>
</div>
<!-- /error title -->


<!-- Error content -->
<div class="row">
    <div class="col-lg-4  col-lg-offset-4 col-sm-12 col-mg-12">
        <div class="text-center">
            <a href="/" class="btn bg-pink-400"><i class="icon-circle-left2 position-left"></i> Back to dashboard</a>
        </div>
    </div>
</div>
<!-- /error wrapper -->
