<!-- Error title -->
<div class="text-center content-group" style="min-height: 600px">
    <h1 class="error-title"><%= DATA.status %></h1>
    <h5>Oops, an error has occurred. <%= DATA.statusText %>!</h5>
</div>