<!-- Error title -->
<div class="text-center content-group" style="min-height: 600px;background-color: #eee">
    <h1 class="error-title"><%= DATA.status %></h1>
    <h5 dragonlanguage><language>MESSAGE.i('error.Oopsanerrorhasoccurred')</language>.  <%= DATA.statusText %>!</h5>
</div>