<script>
    alert("<%= DATA.entitiy %>");
</script>
<div id="dragon_information" ng-controller="dragon_information as dragon_information" style="text-align: center">
    <div class="panel panel-<%= COLOR.secundary %>">
        <div class="panel-heading">
            <h6 class="panel-title" dragonlanguage><i class="icon-database position-left"></i>
                Controller
            </h6>
        </div>

        <div class="panel-body">

        </div>
    </div>
    <div class="panel panel-<%= COLOR.secundary %>">
        <div class="panel-heading">
            <h6 class="panel-title" dragonlanguage><i class="icon-database position-left"></i>
                CRUD
            </h6>
        </div>

        <div class="panel-body">

        </div>
    </div>
</div><!--end-->
<script>
    dragon_information.refreshAngular();
</script>