.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.marginFooter {
    margin-left: 20px !important;
}

.content:first-child {
    padding-top: 0;
}

.content {
    padding: 0 0 0 0;
}

.footer {
    position: absolute;
    bottom: 0;
}

.pagination {
    margin-top: 0;
    margin-bottom: 0;
}

.subcontent {
    padding: 0 20px 0 20px;
    min-height: 480px;
}

button.btn {
    margin: 0 15px 0 0;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px 20px;
    line-height: 1.5384616;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.dragontable th {
    width: auto !important;
}

.sindu_dragger table {
    background: #cccccc !important;
}

.swal2-popup {
    font-size: medium !important;
}

.show-tr {
    visibility: hidden;
}

.show-td {
    visibility: hidden;
}

th:hover .show-tr {
    visibility: visible;
}

tr:hover .show-td {
    visibility: visible;
}

.tableimage {
    width: 30px;
}

tr.dragon-columns.dragon-column-hide i {
    display: none;
}
tr.dragon-columns.dragon-column-hide th {
    cursor: default;
}

.upButtom {
    display: none;
    position: fixed;
    bottom: 62px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    cursor: pointer;
    padding: 15px;
}


body { padding-right: 0 !important }

