.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.marginFooter {
    margin-left: 20px !important;
}

.content:first-child {
    padding-top: 0;
}

.content {
    padding: 0 0 0 0;
}

.footer {
    position: absolute;
    bottom: 0;
}

.pagination {
    margin-top: 0;
    margin-bottom: 0;
}

.subcontent{
    padding: 0 20px 0 20px;
    min-height: 480px;
}

button.btn {
    margin: 0 15px 0 0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px 20px;
    line-height: 1.5384616;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

/*.fixed_headers {*/
    /*width: @table_width;*/
    /*table-layout: fixed;*/
    /*border-collapse: collapse;*/
/*}*/

/*th {*/
    /*text-decoration: underline;*/
/*}*/

/*th, td {*/
    /*padding: 5px;*/
    /*text-align: left;*/
/*}*/