<div class="row">
    <div class="col-sm-12 col-md-12">
        <%- FORM.select("product", scope, {
            column: "ms_product_name",
            table: "ms_product",
            icon: {class: "archive"}
        }) %>
    </div>
</div>

<%- FORM.footer(scope) %>




