
</div>
<div class="footer text-muted">
    © 2018. <a href="#">Dragon FrameWork</a> by <a href="http://dragon.net" target="_blank">Angel Rodríguez</a>
</div>
</div>
<!-- /main content -->
</div>
<!-- /page content -->
</div>
<!-- /page container -->
</div>
</body>
