CRUD_<%= scope %> = {};
DSON.keepmerge(CRUD_<%= scope %>, CRUDDEFAULTS);
DSON.keepmerge(CRUD_<%= scope %>, {
    table: {
        columns: {
            id: {
                visible: false,
                visibleDetail: false,
                export: false,
                exportExample: false
            },
            name: {
                shorttext: 80
            },
            description: {
                shorttext: 80,
                null: "<span class='text-grey'>[NULL]</span>"
            }
        },
        filters: {
            columns: true
        }
    }
});