<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Global stylesheets -->
    <style>
        <% include ../../../assets/css/icons/icomoon/styles.css %>
    </style>
    <style>
        <% include ../../../assets/css/bootstrap.css %>
    </style>
    <style>
        <% include ../../../assets/css/core.css %>
    </style>
    <style>
        <% include ../../../assets/css/components.css %>
    </style>
    <style>
        <% include ../../../assets/css/style.css %>
    </style>
    <style>
        <% include ../../../assets/css/colors.css %>
    </style>
    <!-- /global stylesheets -->

</head>

<body>
<%- DATA.content %>
</body>