<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Global stylesheets -->
    <style>
        <% include ../../../assets/css/icons/icomoon/styles.css %>
    </style>
    <style>
        <% include ../../../assets/css/bootstrap.css %>
    </style>
    <style>
        <% include ../../../assets/css/core.css %>
    </style>
    <style>
        <% include ../../../assets/css/components.css %>
    </style>
    <style>
        <% include ../../../assets/css/style.css %>
    </style>
    <style>
        <% include ../../../assets/css/colors.css %>
    </style>
    <!-- /global stylesheets -->

</head>

<body>
<% DATA.content = eval("(" + DATA.content + ")"); %>
<% DATA.firstrow = eval("(" + DATA.firstrow + ")"); %>
<% DATA.columns = eval("(" + DATA.columns + ")"); %>
<table class="table table-bordered">
    <thead class="bg-<%= TAG.table %>">
    <tr>
        <% for(var i in DATA.columns) { %>
            <th><%= DATA.columns[i] %></th>
        <% } %>
    </tr>
    </thead>
    <tbody>
    <% DATA.content.forEach(function (row) { %>
        <tr>
            <% for(var i in row) { %>
                <td><%= row[i] %></td>
            <% } %>
        </tr>
    <% }); %>
    </tbody>
</table>
</body>