<% include ../master/head %>
<div class="jumbotron text-center">
    <h1>Count: <span class="label label-info">{{ todoList.length }}</span></h1>
</div>
<div id="todo-list" class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="checkbox" ng-repeat="item in todoList">
            <label>
                <input type="checkbox" ng-click="deleteTodo(item._id)"> {{ item.text }}
            </label>
        </div>

    </div>
</div>
<div id="todo-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
            <div class="form-group">
                <input class="form-control input-lg text-center" placeholder="" ng-model="formData.text">
            </div>
            <button class="btn btn-primary btn-lg" ng-click="create()">Add</button>
        </form>
    </div>
</div>
<% include ../master/footer %>