<div class="row">
    <div class="col-sm-6 col-md-6">
        <label for="sect-text">Nombre de la sección</label>
        <input type="sect-text" class="form-control" ng-model="dragon_language.sectText">
    </div>
    <div class="col-sm-6 col-md-6">
        <button class="btn btn-primary" style="margin-top: 20px" ng-click="dragon_language.addsection(dragon_language.variable)"> Guardar </button>
    </div>
</div>