<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <%- FORM.input("name", scope, {maxlength: 50}) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <%- FORM.textarea("description", scope, {maxlength: 200}) %>
            </div>
        </div>
    </div>
</div>

<%- FORM.footer(scope) %>





