            <div class="col-sm-4 col-md-4">
                <%- FORM.file("images", scope, {
                    //show: 'image',
                    //maxsize_mb: 20,
                    maxfiles: 1,
                    //acceptedFiles: "images/*",
                    width: "modal-full",
                    columns: 1
                }) %>
            </div>