            <div class="col-sm-4 col-md-4">
                <%- FORM.file("images", scope, {
                    maxfiles: 50,
                    width: "modal-full",
                    columns: 4
                }) %>
            </div>