            <div class="col-sm-4 col-md-4">
                <%- FORM.file("images", scope, {
                    show: 'image',
                    maxfiles: 1,
                    acceptedFiles: "images/*",
                    columns: 1
                }) %>
            </div>