            <div class="col-sm-4 col-md-4">
                <%- FORM.password("<%= field %>", scope, {}) %>
            </div>
            <div class="col-sm-4 col-md-4">
                <%- FORM.password("<%= field %>_confirm", scope, {}) %>
            </div>