            <div class="col-sm-4 col-md-4">
                <%- FORM.decimal("<%= field %>", scope, {
                    //length:18
                    //decimal:2
                }) %>
            </div>