<div class="spinner222">
    <div class="double-bounce1 bg-<%= COLOR.primary %>-600"></div>
    <div class="double-bounce2 bg-<%= COLOR.secundary %>-600"></div>
    <div class="double-bounce3 bg-<%= COLOR.extra %>-600"></div>
</div>