<div class="spinner222">
    <div class="double-bounce1 bg-<%= COLOR.primary %>-600"></div>
    <div class="double-bounce2 bg-<%= TAG.table %>-600"></div>
    <div class="double-bounce3 bg-<%= COLOR.menu %>-600"></div>
</div>