.bg-extra {
    background-color: #a07992;
    border-color: #a07992;
    color: #FFF !important;
}
.bg-extra-100 {
    background-color: #f4f0f3;
    border-color: #f4f0f3;
    color: #000 !important;
}
.bg-extra-200 {
    background-color: #dfd2db;
    border-color: #dfd2db;
    color: #000 !important;
}
.bg-extra-300 {
    background-color: #cab5c3;
    border-color: #cab5c3;
    color: #000 !important;
}
.bg-extra-400 {
    background-color: #b597aa;
    border-color: #b597aa;
    color: #FFF !important;
}
.bg-extra-500 {
    background-color: #a07992;
    border-color: #a07992;
    color: #FFF !important;
}
.bg-extra-600 {
    background-color: #865f79;
    border-color: #865f79;
    color: #FFF !important;
}
.bg-extra-700 {
    background-color: #684a5e;
    border-color: #684a5e;
    color: #FFF !important;
}
.bg-extra-800 {
    background-color: #4a3543;
    border-color: #4a3543;
    color: #FFF !important;
}
.bg-extra-900 {
    background-color: #2d2028;
    border-color: #2d2028;
    color: #FFF !important;
}
.bg-extra-1000 {
    background-color: #0f0b0d;
    border-color: #0f0b0d;
    color: #FFF !important;
}
.alpha-extra {
    background-color: #f4f0f3;
    border-color: #f4f0f3;
}

.border-extra {
    border-color: #a07992;
}
.border-extra-100 {
    border-color: #f4f0f3;
}
.border-extra-200 {
    border-color: #dfd2db;
}
.border-extra-300 {
    border-color: #cab5c3;
}
.border-extra-400 {
    border-color: #b597aa;
}
.border-extra-500 {
    border-color: #a07992;
}
.border-extra-600 {
    border-color: #865f79;
}
.border-extra-700 {
    border-color: #684a5e;
}
.border-extra-800 {
    border-color: #4a3543;
}
.border-extra-900 {
    border-color: #2d2028;
}
.border-extra-1000 {
    border-color: #0f0b0d;
}

.border-top-extra {
    border-top-color: #a07992;
}
.border-top-extra-100 {
    border-top-color: #f4f0f3;
}
.border-top-extra-200 {
    border-top-color: #dfd2db;
}
.border-top-extra-300 {
    border-top-color: #cab5c3;
}
.border-top-extra-400 {
    border-top-color: #b597aa;
}
.border-top-extra-500 {
    border-top-color: #a07992;
}
.border-top-extra-600 {
    border-top-color: #865f79;
}
.border-top-extra-700 {
    border-top-color: #684a5e;
}
.border-top-extra-800 {
    border-top-color: #4a3543;
}
.border-top-extra-900 {
    border-top-color: #2d2028;
}
.border-top-extra-1000 {
    border-top-color: #0f0b0d;
}
.border-bottom-extra {
    border-bottom-color: #a07992;
}


.border-bottom-extra-100 {
    border-bottom-color: #f4f0f3;
}
.border-bottom-extra-200 {
    border-bottom-color: #dfd2db;
}
.border-bottom-extra-300 {
    border-bottom-color: #cab5c3;
}
.border-bottom-extra-400 {
    border-bottom-color: #b597aa;
}
.border-bottom-extra-500 {
    border-bottom-color: #a07992;
}
.border-bottom-extra-600 {
    border-bottom-color: #865f79;
}
.border-bottom-extra-700 {
    border-bottom-color: #684a5e;
}
.border-bottom-extra-800 {
    border-bottom-color: #4a3543;
}
.border-bottom-extra-900 {
    border-bottom-color: #2d2028;
}
.border-bottom-extra-1000 {
    border-bottom-color: #0f0b0d;
}


.border-left-extra {
    border-left-color: #a07992;
}
.border-left-extra-100 {
    border-left-color: #f4f0f3;
}
.border-left-extra-200 {
    border-left-color: #dfd2db;
}
.border-left-extra-300 {
    border-left-color: #cab5c3;
}
.border-left-extra-400 {
    border-left-color: #b597aa;
}
.border-left-extra-500 {
    border-left-color: #a07992;
}
.border-left-extra-600 {
    border-left-color: #865f79;
}
.border-left-extra-700 {
    border-left-color: #684a5e;
}
.border-left-extra-800 {
    border-left-color: #4a3543;
}
.border-left-extra-900 {
    border-left-color: #2d2028;
}
.border-left-extra-1000 {
    border-left-color: #0f0b0d;
}


.border-right-extra {
    border-right-color: #a07992;
}
.border-right-extra-100 {
    border-right-color: #f4f0f3;
}
.border-right-extra-200 {
    border-right-color: #dfd2db;
}
.border-right-extra-300 {
    border-right-color: #cab5c3;
}
.border-right-extra-400 {
    border-right-color: #b597aa;
}
.border-right-extra-500 {
    border-right-color: #a07992;
}
.border-right-extra-600 {
    border-right-color: #865f79;
}
.border-right-extra-700 {
    border-right-color: #684a5e;
}
.border-right-extra-800 {
    border-right-color: #4a3543;
}
.border-right-extra-900 {
    border-right-color: #2d2028;
}
.border-right-extra-1000 {
    border-right-color: #0f0b0d;
}


.text-extra,
.text-extra:hover,
.text-extra:focus {
    color: #a07992 !important;
}
.text-extra-100,
.text-extra-100:hover,
.text-extra-100:focus {
    color: #f4f0f3 !important;
}
.text-extra-200,
.text-extra-200:hover,
.text-extra-200:focus {
    color: #dfd2db !important;
}
.text-extra-300,
.text-extra-300:hover,
.text-extra-300:focus {
    color: #cab5c3 !important;
}
.text-extra-400,
.text-extra-400:hover,
.text-extra-400:focus {
    color: #b597aa !important;
}
.text-extra-600,
.text-extra-600:hover,
.text-extra-600:focus {
    color: #865f79 !important;
}
.text-extra-700,
.text-extra-700:hover,
.text-extra-700:focus {
    color: #684a5e !important;
}
.text-extra-800,
.text-extra-800:hover,
.text-extra-800:focus {
    color: #4a3543 !important;
}
.text-extra-900,
.text-extra-900:hover,
.text-extra-900:focus {
    color: #2d2028 !important;
}
.text-extra-1000,
.text-extra-1000:hover,
.text-extra-1000:focus {
    color: #0f0b0d !important;
}

.bg-extra-700.navbar-inverse a {
    color: #FFF !important;
}

.bg-extra-700.navbar-inverse a:hover {
    color: #FFF !important;
}

.bg-extra-700.navbar-inverse .navbar-text {
    color: #FFF !important;
}

.nav-tabs.bg-extra-700 > .active > a, .nav-tabs.bg-extra-800 > .active > a:hover, .nav-tabs.bg-extra-800 > .active > a:focus {
    color: #FFF !important;;
}

.nav-tabs.bg-extra-700 > li > a {
    color: #FFF !important;
}
.nav-extra li.active {
    border-bottom: #a07992 1px solid;
    border-block-width: 2px;
}