.bg-primary {
    background-color: #5f93ba;
    border-color: #5f93ba;
    color: #FFF !important;
}
.bg-primary-100 {
    background-color: #edf3f7;
    border-color: #edf3f7;
    color: #000 !important;
}
.bg-primary-200 {
    background-color: #cadbe8;
    border-color: #cadbe8;
    color: #000 !important;
}
.bg-primary-300 {
    background-color: #a6c3d8;
    border-color: #a6c3d8;
    color: #000 !important;
}
.bg-primary-400 {
    background-color: #83abc9;
    border-color: #83abc9;
    color: #FFF !important;
}
.bg-primary-500 {
    background-color: #5f93ba;
    border-color: #5f93ba;
    color: #FFF !important;
}
.bg-primary-600 {
    background-color: #4579a0;
    border-color: #4579a0;
    color: #FFF !important;
}
.bg-primary-700 {
    background-color: #365e7c;
    border-color: #365e7c;
    color: #FFF !important;
}
.bg-primary-800 {
    background-color: #274359;
    border-color: #274359;
    color: #FFF !important;
}
.bg-primary-900 {
    background-color: #172835;
    border-color: #172835;
    color: #FFF !important;
}
.bg-primary-1000 {
    background-color: #080d12;
    border-color: #080d12;
    color: #FFF !important;
}
.alpha-primary {
    background-color: #edf3f7;
    border-color: #edf3f7;
}

.border-primary {
    border-color: #5f93ba;
}
.border-primary-100 {
    border-color: #edf3f7;
}
.border-primary-200 {
    border-color: #cadbe8;
}
.border-primary-300 {
    border-color: #a6c3d8;
}
.border-primary-400 {
    border-color: #83abc9;
}
.border-primary-500 {
    border-color: #5f93ba;
}
.border-primary-600 {
    border-color: #4579a0;
}
.border-primary-700 {
    border-color: #365e7c;
}
.border-primary-800 {
    border-color: #274359;
}
.border-primary-900 {
    border-color: #172835;
}
.border-primary-1000 {
    border-color: #080d12;
}

.border-top-primary {
    border-top-color: #5f93ba;
}
.border-top-primary-100 {
    border-top-color: #edf3f7;
}
.border-top-primary-200 {
    border-top-color: #cadbe8;
}
.border-top-primary-300 {
    border-top-color: #a6c3d8;
}
.border-top-primary-400 {
    border-top-color: #83abc9;
}
.border-top-primary-500 {
    border-top-color: #5f93ba;
}
.border-top-primary-600 {
    border-top-color: #4579a0;
}
.border-top-primary-700 {
    border-top-color: #365e7c;
}
.border-top-primary-800 {
    border-top-color: #274359;
}
.border-top-primary-900 {
    border-top-color: #172835;
}
.border-top-primary-1000 {
    border-top-color: #080d12;
}
.border-bottom-primary {
    border-bottom-color: #5f93ba;
}


.border-bottom-primary-100 {
    border-bottom-color: #edf3f7;
}
.border-bottom-primary-200 {
    border-bottom-color: #cadbe8;
}
.border-bottom-primary-300 {
    border-bottom-color: #a6c3d8;
}
.border-bottom-primary-400 {
    border-bottom-color: #83abc9;
}
.border-bottom-primary-500 {
    border-bottom-color: #5f93ba;
}
.border-bottom-primary-600 {
    border-bottom-color: #4579a0;
}
.border-bottom-primary-700 {
    border-bottom-color: #365e7c;
}
.border-bottom-primary-800 {
    border-bottom-color: #274359;
}
.border-bottom-primary-900 {
    border-bottom-color: #172835;
}
.border-bottom-primary-1000 {
    border-bottom-color: #080d12;
}


.border-left-primary {
    border-left-color: #5f93ba;
}
.border-left-primary-100 {
    border-left-color: #edf3f7;
}
.border-left-primary-200 {
    border-left-color: #cadbe8;
}
.border-left-primary-300 {
    border-left-color: #a6c3d8;
}
.border-left-primary-400 {
    border-left-color: #83abc9;
}
.border-left-primary-500 {
    border-left-color: #5f93ba;
}
.border-left-primary-600 {
    border-left-color: #4579a0;
}
.border-left-primary-700 {
    border-left-color: #365e7c;
}
.border-left-primary-800 {
    border-left-color: #274359;
}
.border-left-primary-900 {
    border-left-color: #172835;
}
.border-left-primary-1000 {
    border-left-color: #080d12;
}


.border-right-primary {
    border-right-color: #5f93ba;
}
.border-right-primary-100 {
    border-right-color: #edf3f7;
}
.border-right-primary-200 {
    border-right-color: #cadbe8;
}
.border-right-primary-300 {
    border-right-color: #a6c3d8;
}
.border-right-primary-400 {
    border-right-color: #83abc9;
}
.border-right-primary-500 {
    border-right-color: #5f93ba;
}
.border-right-primary-600 {
    border-right-color: #4579a0;
}
.border-right-primary-700 {
    border-right-color: #365e7c;
}
.border-right-primary-800 {
    border-right-color: #274359;
}
.border-right-primary-900 {
    border-right-color: #172835;
}
.border-right-primary-1000 {
    border-right-color: #080d12;
}


.text-primary,
.text-primary:hover,
.text-primary:focus {
    color: #5f93ba !important;
}
.text-primary-100,
.text-primary-100:hover,
.text-primary-100:focus {
    color: #edf3f7 !important;
}
.text-primary-200,
.text-primary-200:hover,
.text-primary-200:focus {
    color: #cadbe8 !important;
}
.text-primary-300,
.text-primary-300:hover,
.text-primary-300:focus {
    color: #a6c3d8 !important;
}
.text-primary-400,
.text-primary-400:hover,
.text-primary-400:focus {
    color: #83abc9 !important;
}
.text-primary-600,
.text-primary-600:hover,
.text-primary-600:focus {
    color: #4579a0 !important;
}
.text-primary-700,
.text-primary-700:hover,
.text-primary-700:focus {
    color: #365e7c !important;
}
.text-primary-800,
.text-primary-800:hover,
.text-primary-800:focus {
    color: #274359 !important;
}
.text-primary-900,
.text-primary-900:hover,
.text-primary-900:focus {
    color: #172835 !important;
}
.text-primary-1000,
.text-primary-1000:hover,
.text-primary-1000:focus {
    color: #080d12 !important;
}


.bg-primary-700.navbar-inverse a:hover {
    color: #FFF !important;
}

.bg-primary-700.navbar-inverse .navbar-text {
    color: #FFF !important;
}

.nav-tabs.bg-primary-700 > .active > a, .nav-tabs.bg-primary-800 > .active > a:hover, .nav-tabs.bg-primary-800 > .active > a:focus {
    color: #FFF !important;;
}

.nav-tabs.bg-primary-700 > li > a {
    color: #FFF !important;
}
.nav-primary li.active {
    border-bottom: #5f93ba 1px solid;
    border-block-width: 2px;
}