.bg-secundary {
    background-color: #fa1e85;
    border-color: #fa1e85;
    color: #FFF !important;
}
.bg-secundary-100 {
    background-color: #fee6f1;
    border-color: #fee6f1;
    color: #000 !important;
}
.bg-secundary-200 {
    background-color: #fdb4d6;
    border-color: #fdb4d6;
    color: #000 !important;
}
.bg-secundary-300 {
    background-color: #fc82bb;
    border-color: #fc82bb;
    color: #000 !important;
}
.bg-secundary-400 {
    background-color: #fb50a0;
    border-color: #fb50a0;
    color: #FFF !important;
}
.bg-secundary-500 {
    background-color: #fa1e85;
    border-color: #fa1e85;
    color: #FFF !important;
}
.bg-secundary-600 {
    background-color: #e1056c;
    border-color: #e1056c;
    color: #FFF !important;
}
.bg-secundary-700 {
    background-color: #af0454;
    border-color: #af0454;
    color: #FFF !important;
}
.bg-secundary-800 {
    background-color: #7d033c;
    border-color: #7d033c;
    color: #FFF !important;
}
.bg-secundary-900 {
    background-color: #4b0224;
    border-color: #4b0224;
    color: #FFF !important;
}
.bg-secundary-1000 {
    background-color: #19010c;
    border-color: #19010c;
    color: #FFF !important;
}
.alpha-secundary {
    background-color: #fee6f1;
    border-color: #fee6f1;
}

.border-secundary {
    border-color: #fa1e85;
}
.border-secundary-100 {
    border-color: #fee6f1;
}
.border-secundary-200 {
    border-color: #fdb4d6;
}
.border-secundary-300 {
    border-color: #fc82bb;
}
.border-secundary-400 {
    border-color: #fb50a0;
}
.border-secundary-500 {
    border-color: #fa1e85;
}
.border-secundary-600 {
    border-color: #e1056c;
}
.border-secundary-700 {
    border-color: #af0454;
}
.border-secundary-800 {
    border-color: #7d033c;
}
.border-secundary-900 {
    border-color: #4b0224;
}
.border-secundary-1000 {
    border-color: #19010c;
}

.border-top-secundary {
    border-top-color: #fa1e85;
}
.border-top-secundary-100 {
    border-top-color: #fee6f1;
}
.border-top-secundary-200 {
    border-top-color: #fdb4d6;
}
.border-top-secundary-300 {
    border-top-color: #fc82bb;
}
.border-top-secundary-400 {
    border-top-color: #fb50a0;
}
.border-top-secundary-500 {
    border-top-color: #fa1e85;
}
.border-top-secundary-600 {
    border-top-color: #e1056c;
}
.border-top-secundary-700 {
    border-top-color: #af0454;
}
.border-top-secundary-800 {
    border-top-color: #7d033c;
}
.border-top-secundary-900 {
    border-top-color: #4b0224;
}
.border-top-secundary-1000 {
    border-top-color: #19010c;
}
.border-bottom-secundary {
    border-bottom-color: #fa1e85;
}


.border-bottom-secundary-100 {
    border-bottom-color: #fee6f1;
}
.border-bottom-secundary-200 {
    border-bottom-color: #fdb4d6;
}
.border-bottom-secundary-300 {
    border-bottom-color: #fc82bb;
}
.border-bottom-secundary-400 {
    border-bottom-color: #fb50a0;
}
.border-bottom-secundary-500 {
    border-bottom-color: #fa1e85;
}
.border-bottom-secundary-600 {
    border-bottom-color: #e1056c;
}
.border-bottom-secundary-700 {
    border-bottom-color: #af0454;
}
.border-bottom-secundary-800 {
    border-bottom-color: #7d033c;
}
.border-bottom-secundary-900 {
    border-bottom-color: #4b0224;
}
.border-bottom-secundary-1000 {
    border-bottom-color: #19010c;
}


.border-left-secundary {
    border-left-color: #fa1e85;
}
.border-left-secundary-100 {
    border-left-color: #fee6f1;
}
.border-left-secundary-200 {
    border-left-color: #fdb4d6;
}
.border-left-secundary-300 {
    border-left-color: #fc82bb;
}
.border-left-secundary-400 {
    border-left-color: #fb50a0;
}
.border-left-secundary-500 {
    border-left-color: #fa1e85;
}
.border-left-secundary-600 {
    border-left-color: #e1056c;
}
.border-left-secundary-700 {
    border-left-color: #af0454;
}
.border-left-secundary-800 {
    border-left-color: #7d033c;
}
.border-left-secundary-900 {
    border-left-color: #4b0224;
}
.border-left-secundary-1000 {
    border-left-color: #19010c;
}


.border-right-secundary {
    border-right-color: #fa1e85;
}
.border-right-secundary-100 {
    border-right-color: #fee6f1;
}
.border-right-secundary-200 {
    border-right-color: #fdb4d6;
}
.border-right-secundary-300 {
    border-right-color: #fc82bb;
}
.border-right-secundary-400 {
    border-right-color: #fb50a0;
}
.border-right-secundary-500 {
    border-right-color: #fa1e85;
}
.border-right-secundary-600 {
    border-right-color: #e1056c;
}
.border-right-secundary-700 {
    border-right-color: #af0454;
}
.border-right-secundary-800 {
    border-right-color: #7d033c;
}
.border-right-secundary-900 {
    border-right-color: #4b0224;
}
.border-right-secundary-1000 {
    border-right-color: #19010c;
}


.text-secundary,
.text-secundary:hover,
.text-secundary:focus {
    color: #fa1e85 !important;
}
.text-secundary-100,
.text-secundary-100:hover,
.text-secundary-100:focus {
    color: #fee6f1 !important;
}
.text-secundary-200,
.text-secundary-200:hover,
.text-secundary-200:focus {
    color: #fdb4d6 !important;
}
.text-secundary-300,
.text-secundary-300:hover,
.text-secundary-300:focus {
    color: #fc82bb !important;
}
.text-secundary-400,
.text-secundary-400:hover,
.text-secundary-400:focus {
    color: #fb50a0 !important;
}
.text-secundary-600,
.text-secundary-600:hover,
.text-secundary-600:focus {
    color: #e1056c !important;
}
.text-secundary-700,
.text-secundary-700:hover,
.text-secundary-700:focus {
    color: #af0454 !important;
}
.text-secundary-800,
.text-secundary-800:hover,
.text-secundary-800:focus {
    color: #7d033c !important;
}
.text-secundary-900,
.text-secundary-900:hover,
.text-secundary-900:focus {
    color: #4b0224 !important;
}
.text-secundary-1000,
.text-secundary-1000:hover,
.text-secundary-1000:focus {
    color: #19010c !important;
}


.bg-secundary-700.navbar-inverse a:hover {
    color: #FFF !important;
}

.bg-secundary-700.navbar-inverse .navbar-text {
    color: #FFF !important;
}

.nav-tabs.bg-secundary-700 > .active > a, .nav-tabs.bg-secundary-800 > .active > a:hover, .nav-tabs.bg-secundary-800 > .active > a:focus {
    color: #FFF !important;;
}

.nav-tabs.bg-secundary-700 > li > a {
    color: #FFF !important;
}
.nav-secundary li.active {
    border-bottom: #fa1e85 1px solid;
    border-block-width: 2px;
}