.bg-secundary {
    background-color: #2eabeb;
    border-color: #2eabeb;
    color: #FFF !important;
}
.bg-secundary-100 {
    background-color: #e8f6fd;
    border-color: #e8f6fd;
    color: #000 !important;
}
.bg-secundary-200 {
    background-color: #b9e3f8;
    border-color: #b9e3f8;
    color: #000 !important;
}
.bg-secundary-300 {
    background-color: #8bd0f4;
    border-color: #8bd0f4;
    color: #000 !important;
}
.bg-secundary-400 {
    background-color: #5cbeef;
    border-color: #5cbeef;
    color: #FFF !important;
}
.bg-secundary-500 {
    background-color: #2eabeb;
    border-color: #2eabeb;
    color: #FFF !important;
}
.bg-secundary-600 {
    background-color: #1492d1;
    border-color: #1492d1;
    color: #FFF !important;
}
.bg-secundary-700 {
    background-color: #1071a3;
    border-color: #1071a3;
    color: #FFF !important;
}
.bg-secundary-800 {
    background-color: #0b5174;
    border-color: #0b5174;
    color: #FFF !important;
}
.bg-secundary-900 {
    background-color: #073146;
    border-color: #073146;
    color: #FFF !important;
}
.bg-secundary-1000 {
    background-color: #021017;
    border-color: #021017;
    color: #FFF !important;
}
.alpha-secundary {
    background-color: #e8f6fd;
    border-color: #e8f6fd;
}

.border-secundary {
    border-color: #2eabeb;
}
.border-secundary-100 {
    border-color: #e8f6fd;
}
.border-secundary-200 {
    border-color: #b9e3f8;
}
.border-secundary-300 {
    border-color: #8bd0f4;
}
.border-secundary-400 {
    border-color: #5cbeef;
}
.border-secundary-500 {
    border-color: #2eabeb;
}
.border-secundary-600 {
    border-color: #1492d1;
}
.border-secundary-700 {
    border-color: #1071a3;
}
.border-secundary-800 {
    border-color: #0b5174;
}
.border-secundary-900 {
    border-color: #073146;
}
.border-secundary-1000 {
    border-color: #021017;
}

.border-top-secundary {
    border-top-color: #2eabeb;
}
.border-top-secundary-100 {
    border-top-color: #e8f6fd;
}
.border-top-secundary-200 {
    border-top-color: #b9e3f8;
}
.border-top-secundary-300 {
    border-top-color: #8bd0f4;
}
.border-top-secundary-400 {
    border-top-color: #5cbeef;
}
.border-top-secundary-500 {
    border-top-color: #2eabeb;
}
.border-top-secundary-600 {
    border-top-color: #1492d1;
}
.border-top-secundary-700 {
    border-top-color: #1071a3;
}
.border-top-secundary-800 {
    border-top-color: #0b5174;
}
.border-top-secundary-900 {
    border-top-color: #073146;
}
.border-top-secundary-1000 {
    border-top-color: #021017;
}
.border-bottom-secundary {
    border-bottom-color: #2eabeb;
}


.border-bottom-secundary-100 {
    border-bottom-color: #e8f6fd;
}
.border-bottom-secundary-200 {
    border-bottom-color: #b9e3f8;
}
.border-bottom-secundary-300 {
    border-bottom-color: #8bd0f4;
}
.border-bottom-secundary-400 {
    border-bottom-color: #5cbeef;
}
.border-bottom-secundary-500 {
    border-bottom-color: #2eabeb;
}
.border-bottom-secundary-600 {
    border-bottom-color: #1492d1;
}
.border-bottom-secundary-700 {
    border-bottom-color: #1071a3;
}
.border-bottom-secundary-800 {
    border-bottom-color: #0b5174;
}
.border-bottom-secundary-900 {
    border-bottom-color: #073146;
}
.border-bottom-secundary-1000 {
    border-bottom-color: #021017;
}


.border-left-secundary {
    border-left-color: #2eabeb;
}
.border-left-secundary-100 {
    border-left-color: #e8f6fd;
}
.border-left-secundary-200 {
    border-left-color: #b9e3f8;
}
.border-left-secundary-300 {
    border-left-color: #8bd0f4;
}
.border-left-secundary-400 {
    border-left-color: #5cbeef;
}
.border-left-secundary-500 {
    border-left-color: #2eabeb;
}
.border-left-secundary-600 {
    border-left-color: #1492d1;
}
.border-left-secundary-700 {
    border-left-color: #1071a3;
}
.border-left-secundary-800 {
    border-left-color: #0b5174;
}
.border-left-secundary-900 {
    border-left-color: #073146;
}
.border-left-secundary-1000 {
    border-left-color: #021017;
}


.border-right-secundary {
    border-right-color: #2eabeb;
}
.border-right-secundary-100 {
    border-right-color: #e8f6fd;
}
.border-right-secundary-200 {
    border-right-color: #b9e3f8;
}
.border-right-secundary-300 {
    border-right-color: #8bd0f4;
}
.border-right-secundary-400 {
    border-right-color: #5cbeef;
}
.border-right-secundary-500 {
    border-right-color: #2eabeb;
}
.border-right-secundary-600 {
    border-right-color: #1492d1;
}
.border-right-secundary-700 {
    border-right-color: #1071a3;
}
.border-right-secundary-800 {
    border-right-color: #0b5174;
}
.border-right-secundary-900 {
    border-right-color: #073146;
}
.border-right-secundary-1000 {
    border-right-color: #021017;
}


.text-secundary,
.text-secundary:hover,
.text-secundary:focus {
    color: #2eabeb !important;
}
.text-secundary-100,
.text-secundary-100:hover,
.text-secundary-100:focus {
    color: #e8f6fd !important;
}
.text-secundary-200,
.text-secundary-200:hover,
.text-secundary-200:focus {
    color: #b9e3f8 !important;
}
.text-secundary-300,
.text-secundary-300:hover,
.text-secundary-300:focus {
    color: #8bd0f4 !important;
}
.text-secundary-400,
.text-secundary-400:hover,
.text-secundary-400:focus {
    color: #5cbeef !important;
}
.text-secundary-600,
.text-secundary-600:hover,
.text-secundary-600:focus {
    color: #1492d1 !important;
}
.text-secundary-700,
.text-secundary-700:hover,
.text-secundary-700:focus {
    color: #1071a3 !important;
}
.text-secundary-800,
.text-secundary-800:hover,
.text-secundary-800:focus {
    color: #0b5174 !important;
}
.text-secundary-900,
.text-secundary-900:hover,
.text-secundary-900:focus {
    color: #073146 !important;
}
.text-secundary-1000,
.text-secundary-1000:hover,
.text-secundary-1000:focus {
    color: #021017 !important;
}

.bg-secundary-700.navbar-inverse a {
    color: #FFF !important;
}

.bg-secundary-700.navbar-inverse a:hover {
    color: #FFF !important;
}

.bg-secundary-700.navbar-inverse .navbar-text {
    color: #FFF !important;
}

.nav-tabs.bg-secundary-700 > .active > a, .nav-tabs.bg-secundary-800 > .active > a:hover, .nav-tabs.bg-secundary-800 > .active > a:focus {
    color: #FFF !important;;
}

.nav-tabs.bg-secundary-700 > li > a {
    color: #FFF !important;
}
.nav-secundary li.active {
    border-bottom: #2eabeb 1px solid;
    border-block-width: 2px;
}