<div id="ms_user" ng-controller="ms_user as ms_user">
    <div class="panel panel-flat">
        <%- include('../templates/table/header',{modelName:'ms_user'}); %>
        <div class="subcontent">
            <%- include('../templates/table/index',{modelName:'ms_user'}); %>
            <%- include('../templates/table/paginator',{modelName:'ms_user'}); %>
        </div>
    </div>
    <div id="ms_user_modalpool">
    </div>
</div><!--end-->