.bg-extra {
    background-color: #468fd2;
    border-color: #468fd2;
    color: #FFF !important;
}
.bg-extra-100 {
    background-color: #eaf3fa;
    border-color: #eaf3fa;
    color: #FFF !important;
}
.bg-extra-200 {
    background-color: #c1daf0;
    border-color: #c1daf0;
    color: #FFF !important;
}
.bg-extra-300 {
    background-color: #98c1e6;
    border-color: #98c1e6;
    color: #FFF !important;
}
.bg-extra-400 {
    background-color: #6fa8dc;
    border-color: #6fa8dc;
    color: #FFF !important;
}
.bg-extra-500 {
    background-color: #468fd2;
    border-color: #468fd2;
    color: #FFF !important;
}
.bg-extra-600 {
    background-color: #2d76b9;
    border-color: #2d76b9;
    color: #FFF !important;
}
.bg-extra-700 {
    background-color: #235c90;
    border-color: #235c90;
    color: #FFF !important;
}
.bg-extra-800 {
    background-color: #194267;
    border-color: #194267;
    color: #FFF !important;
}
.bg-extra-900 {
    background-color: #0f273e;
    border-color: #0f273e;
    color: #FFF !important;
}
.bg-extra-1000 {
    background-color: #050d15;
    border-color: #050d15;
    color: #FFF !important;
}
.alpha-extra {
    background-color: #eaf3fa;
    border-color: #eaf3fa;
}

.border-extra {
    border-color: #468fd2;
}
.border-extra-100 {
    border-color: #eaf3fa;
}
.border-extra-200 {
    border-color: #c1daf0;
}
.border-extra-300 {
    border-color: #98c1e6;
}
.border-extra-400 {
    border-color: #6fa8dc;
}
.border-extra-500 {
    border-color: #468fd2;
}
.border-extra-600 {
    border-color: #2d76b9;
}
.border-extra-700 {
    border-color: #235c90;
}
.border-extra-800 {
    border-color: #194267;
}
.border-extra-900 {
    border-color: #0f273e;
}
.border-extra-1000 {
    border-color: #050d15;
}

.border-top-extra {
    border-top-color: #468fd2;
}
.border-top-extra-100 {
    border-top-color: #eaf3fa;
}
.border-top-extra-200 {
    border-top-color: #c1daf0;
}
.border-top-extra-300 {
    border-top-color: #98c1e6;
}
.border-top-extra-400 {
    border-top-color: #6fa8dc;
}
.border-top-extra-500 {
    border-top-color: #468fd2;
}
.border-top-extra-600 {
    border-top-color: #2d76b9;
}
.border-top-extra-700 {
    border-top-color: #235c90;
}
.border-top-extra-800 {
    border-top-color: #194267;
}
.border-top-extra-900 {
    border-top-color: #0f273e;
}
.border-top-extra-1000 {
    border-top-color: #050d15;
}
.border-bottom-extra {
    border-bottom-color: #468fd2;
}


.border-bottom-extra-100 {
    border-bottom-color: #eaf3fa;
}
.border-bottom-extra-200 {
    border-bottom-color: #c1daf0;
}
.border-bottom-extra-300 {
    border-bottom-color: #98c1e6;
}
.border-bottom-extra-400 {
    border-bottom-color: #6fa8dc;
}
.border-bottom-extra-500 {
    border-bottom-color: #468fd2;
}
.border-bottom-extra-600 {
    border-bottom-color: #2d76b9;
}
.border-bottom-extra-700 {
    border-bottom-color: #235c90;
}
.border-bottom-extra-800 {
    border-bottom-color: #194267;
}
.border-bottom-extra-900 {
    border-bottom-color: #0f273e;
}
.border-bottom-extra-1000 {
    border-bottom-color: #050d15;
}


.border-left-extra {
    border-left-color: #468fd2;
}
.border-left-extra-100 {
    border-left-color: #eaf3fa;
}
.border-left-extra-200 {
    border-left-color: #c1daf0;
}
.border-left-extra-300 {
    border-left-color: #98c1e6;
}
.border-left-extra-400 {
    border-left-color: #6fa8dc;
}
.border-left-extra-500 {
    border-left-color: #468fd2;
}
.border-left-extra-600 {
    border-left-color: #2d76b9;
}
.border-left-extra-700 {
    border-left-color: #235c90;
}
.border-left-extra-800 {
    border-left-color: #194267;
}
.border-left-extra-900 {
    border-left-color: #0f273e;
}
.border-left-extra-1000 {
    border-left-color: #050d15;
}


.border-right-extra {
    border-right-color: #468fd2;
}
.border-right-extra-100 {
    border-right-color: #eaf3fa;
}
.border-right-extra-200 {
    border-right-color: #c1daf0;
}
.border-right-extra-300 {
    border-right-color: #98c1e6;
}
.border-right-extra-400 {
    border-right-color: #6fa8dc;
}
.border-right-extra-500 {
    border-right-color: #468fd2;
}
.border-right-extra-600 {
    border-right-color: #2d76b9;
}
.border-right-extra-700 {
    border-right-color: #235c90;
}
.border-right-extra-800 {
    border-right-color: #194267;
}
.border-right-extra-900 {
    border-right-color: #0f273e;
}
.border-right-extra-1000 {
    border-right-color: #050d15;
}


.text-extra,
.text-extra:hover,
.text-extra:focus {
    color: #468fd2 !important;
}
.text-extra-100,
.text-extra-100:hover,
.text-extra-100:focus {
    color: #eaf3fa !important;
}
.text-extra-200,
.text-extra-200:hover,
.text-extra-200:focus {
    color: #c1daf0 !important;
}
.text-extra-300,
.text-extra-300:hover,
.text-extra-300:focus {
    color: #98c1e6 !important;
}
.text-extra-400,
.text-extra-400:hover,
.text-extra-400:focus {
    color: #6fa8dc !important;
}
.text-extra-600,
.text-extra-600:hover,
.text-extra-600:focus {
    color: #2d76b9 !important;
}
.text-extra-700,
.text-extra-700:hover,
.text-extra-700:focus {
    color: #235c90 !important;
}
.text-extra-800,
.text-extra-800:hover,
.text-extra-800:focus {
    color: #194267 !important;
}
.text-extra-900,
.text-extra-900:hover,
.text-extra-900:focus {
    color: #0f273e !important;
}
.text-extra-1000,
.text-extra-1000:hover,
.text-extra-1000:focus {
    color: #050d15 !important;
}

.bg-extra-700.navbar-inverse a {
    color: #FFF !important;
}

.bg-extra-700.navbar-inverse a:hover {
    color: #FFF !important;
}

.bg-extra-700.navbar-inverse .navbar-text {
    color: #FFF !important;
}

.nav-tabs.bg-extra-700 > .active > a, .nav-tabs.bg-extra-800 > .active > a:hover, .nav-tabs.bg-extra-800 > .active > a:focus {
    color: #FFF !important;;
}

.nav-tabs.bg-extra-700 > li > a {
    color: #FFF !important;
}
.nav-extra li.active {
    border-bottom: #468fd2 1px solid;
    border-block-width: 2px;
}