.bg-primary {
    background-color: #468fd2;
    border-color: #468fd2;
    color: #FFF !important;
}
.bg-primary-100 {
    background-color: #eaf3fa;
    border-color: #eaf3fa;
    color: #FFF !important;
}
.bg-primary-200 {
    background-color: #c1daf0;
    border-color: #c1daf0;
    color: #FFF !important;
}
.bg-primary-300 {
    background-color: #98c1e6;
    border-color: #98c1e6;
    color: #FFF !important;
}
.bg-primary-400 {
    background-color: #6fa8dc;
    border-color: #6fa8dc;
    color: #FFF !important;
}
.bg-primary-500 {
    background-color: #468fd2;
    border-color: #468fd2;
    color: #FFF !important;
}
.bg-primary-600 {
    background-color: #2d76b9;
    border-color: #2d76b9;
    color: #FFF !important;
}
.bg-primary-700 {
    background-color: #235c90;
    border-color: #235c90;
    color: #FFF !important;
}
.bg-primary-800 {
    background-color: #194267;
    border-color: #194267;
    color: #FFF !important;
}
.bg-primary-900 {
    background-color: #0f273e;
    border-color: #0f273e;
    color: #FFF !important;
}
.bg-primary-1000 {
    background-color: #050d15;
    border-color: #050d15;
    color: #FFF !important;
}
.alpha-primary {
    background-color: #eaf3fa;
    border-color: #eaf3fa;
}

.border-primary {
    border-color: #468fd2;
}
.border-primary-100 {
    border-color: #eaf3fa;
}
.border-primary-200 {
    border-color: #c1daf0;
}
.border-primary-300 {
    border-color: #98c1e6;
}
.border-primary-400 {
    border-color: #6fa8dc;
}
.border-primary-500 {
    border-color: #468fd2;
}
.border-primary-600 {
    border-color: #2d76b9;
}
.border-primary-700 {
    border-color: #235c90;
}
.border-primary-800 {
    border-color: #194267;
}
.border-primary-900 {
    border-color: #0f273e;
}
.border-primary-1000 {
    border-color: #050d15;
}

.border-top-primary {
    border-top-color: #468fd2;
}
.border-top-primary-100 {
    border-top-color: #eaf3fa;
}
.border-top-primary-200 {
    border-top-color: #c1daf0;
}
.border-top-primary-300 {
    border-top-color: #98c1e6;
}
.border-top-primary-400 {
    border-top-color: #6fa8dc;
}
.border-top-primary-500 {
    border-top-color: #468fd2;
}
.border-top-primary-600 {
    border-top-color: #2d76b9;
}
.border-top-primary-700 {
    border-top-color: #235c90;
}
.border-top-primary-800 {
    border-top-color: #194267;
}
.border-top-primary-900 {
    border-top-color: #0f273e;
}
.border-top-primary-1000 {
    border-top-color: #050d15;
}
.border-bottom-primary {
    border-bottom-color: #468fd2;
}


.border-bottom-primary-100 {
    border-bottom-color: #eaf3fa;
}
.border-bottom-primary-200 {
    border-bottom-color: #c1daf0;
}
.border-bottom-primary-300 {
    border-bottom-color: #98c1e6;
}
.border-bottom-primary-400 {
    border-bottom-color: #6fa8dc;
}
.border-bottom-primary-500 {
    border-bottom-color: #468fd2;
}
.border-bottom-primary-600 {
    border-bottom-color: #2d76b9;
}
.border-bottom-primary-700 {
    border-bottom-color: #235c90;
}
.border-bottom-primary-800 {
    border-bottom-color: #194267;
}
.border-bottom-primary-900 {
    border-bottom-color: #0f273e;
}
.border-bottom-primary-1000 {
    border-bottom-color: #050d15;
}


.border-left-primary {
    border-left-color: #468fd2;
}
.border-left-primary-100 {
    border-left-color: #eaf3fa;
}
.border-left-primary-200 {
    border-left-color: #c1daf0;
}
.border-left-primary-300 {
    border-left-color: #98c1e6;
}
.border-left-primary-400 {
    border-left-color: #6fa8dc;
}
.border-left-primary-500 {
    border-left-color: #468fd2;
}
.border-left-primary-600 {
    border-left-color: #2d76b9;
}
.border-left-primary-700 {
    border-left-color: #235c90;
}
.border-left-primary-800 {
    border-left-color: #194267;
}
.border-left-primary-900 {
    border-left-color: #0f273e;
}
.border-left-primary-1000 {
    border-left-color: #050d15;
}


.border-right-primary {
    border-right-color: #468fd2;
}
.border-right-primary-100 {
    border-right-color: #eaf3fa;
}
.border-right-primary-200 {
    border-right-color: #c1daf0;
}
.border-right-primary-300 {
    border-right-color: #98c1e6;
}
.border-right-primary-400 {
    border-right-color: #6fa8dc;
}
.border-right-primary-500 {
    border-right-color: #468fd2;
}
.border-right-primary-600 {
    border-right-color: #2d76b9;
}
.border-right-primary-700 {
    border-right-color: #235c90;
}
.border-right-primary-800 {
    border-right-color: #194267;
}
.border-right-primary-900 {
    border-right-color: #0f273e;
}
.border-right-primary-1000 {
    border-right-color: #050d15;
}


.text-primary,
.text-primary:hover,
.text-primary:focus {
    color: #468fd2 !important;
}
.text-primary-100,
.text-primary-100:hover,
.text-primary-100:focus {
    color: #eaf3fa !important;
}
.text-primary-200,
.text-primary-200:hover,
.text-primary-200:focus {
    color: #c1daf0 !important;
}
.text-primary-300,
.text-primary-300:hover,
.text-primary-300:focus {
    color: #98c1e6 !important;
}
.text-primary-400,
.text-primary-400:hover,
.text-primary-400:focus {
    color: #6fa8dc !important;
}
.text-primary-600,
.text-primary-600:hover,
.text-primary-600:focus {
    color: #2d76b9 !important;
}
.text-primary-700,
.text-primary-700:hover,
.text-primary-700:focus {
    color: #235c90 !important;
}
.text-primary-800,
.text-primary-800:hover,
.text-primary-800:focus {
    color: #194267 !important;
}
.text-primary-900,
.text-primary-900:hover,
.text-primary-900:focus {
    color: #0f273e !important;
}
.text-primary-1000,
.text-primary-1000:hover,
.text-primary-1000:focus {
    color: #050d15 !important;
}

.bg-primary-700.navbar-inverse a {
    color: #FFF !important;
}

.bg-primary-700.navbar-inverse a:hover {
    color: #FFF !important;
}

.bg-primary-700.navbar-inverse .navbar-text {
    color: #FFF !important;
}

.nav-tabs.bg-primary-700 > .active > a, .nav-tabs.bg-primary-800 > .active > a:hover, .nav-tabs.bg-primary-800 > .active > a:focus {
    color: #FFF !important;;
}

.nav-tabs.bg-primary-700 > li > a {
    color: #FFF !important;
}
.nav-primary li.active {
    border-bottom: #468fd2 1px solid;
    border-block-width: 2px;
}