<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat">
        <div class="subcontent">
            HOLA SOY CUSTOM
        </div>
    </div>
</div><!--end-->
