<div class="row">
    <div class="col-sm-6 col-md-6">
        <%- FORM.select("user", scope, {
            column: "ms_user_name",
            table: "ms_user",
            icon: {class: "archive"}
        }) %>
    </div>
    <div class="col-sm-6 col-md-6">
        <%- FORM.select("category", scope, {
            column: "ms_category_name",
            table: "ms_category",
            icon: {class: "archive"}
        }) %>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <%- FORM.textarea("description", scope, {maxlength: 200}) %>
    </div>
</div>


<%- FORM.footer(scope) %>



