<div class="row">
    <div class="col-sm-6 col-md-6">
        <label for="field-text">Nombre del campo</label>
        <input type="field-text" class="form-control" ng-model="language.fieldText">
    </div>
    <div class="col-sm-6 col-md-6">
        <label for="desc-text">Descripción del campo</label>
        <input type="desc-text" class="form-control" ng-model="language.descText">
    </div>
    <button class="btn btn-primary" style="margin-top: 20px" ng-click="language.addfield(language.variable1, language.variable2)"> Guardar </button>
</div>