<div class="row">
    <div class="col-sm-6 col-md-6">
        <label for="lang-text">Nombre del idioma</label>
        <input type="lang-text" class="form-control" ng-model="language.langText">
    </div>
    <button class="btn btn-primary" style="margin-top: 20px" ng-click="language.addLanguage()"> Guardar </button>
</div>