<div id="ms_logController" ng-controller="ms_logController as ms_logController">
    ms_log
    <table class="table">
        <thead>
        <th ng-repeat="(key, value) in ms_logController.list.data[0]">{{key}}</th>
        </thead>
        <tbody>
        <tr ng-repeat="(key, value) in ms_logController.list.data">
            <td ng-repeat="item in value">
                {{item}}
            </td>
        </tr>
        </tbody>
    </table>
</div>